//Fonts

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');

// font-family: 'Bebas Neue', cursive;
// font-family: 'Open Sans', sans-serif;
@mixin Bebas {
    font-family: 'Bebas Neue', cursive;
}

@mixin Sans {
    font-family: 'Open Sans', sans-serif;
}

 body {
     background: url(/img/wallpaper.png) 0 0 no-repeat;
 }
 h1,h2,h3,p {
     margin: 0;
     padding: 0;
 }

.header {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
    background-color: #0294de;
    margin-bottom: 175px;
    .nav {
        display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;
        span {
            display: inline-block;
            margin: 0px 5px;
            a {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            &:hover {
                transition: 0.2s;
                font-size: 22px;
            }
        }
        .search {
            &:hover {
                transform: rotateZ(90deg);
            }
        }
        }
    }
}
.main-header {
    h1{
        @include Bebas();
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        font-size: 91px;
        letter-spacing: 3px;
        margin: 0;
    }
    p {
        @include Sans();
        color: #bbd8ff;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        line-height: 42px;
        margin: 0;
        margin-bottom: 60px;
    }
    
    .button-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 715px;
    
    .button {
        display: flex;
        width: 214px;
        height: 52px;
        justify-content: center;
        align-items: center;
        border: 2px solid #25365d;
        background-color: #25365d;
        border-radius: 28px;
        .img {
            margin-right: 18px;
            margin-top: 5px;
        }
        .text {
            @include Sans();
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
}

.section-1 {
    margin-bottom: 145px;
    
    .offer {
        margin-left: 300px;
        
        background: url(/img/notebook.png) 510px 0 no-repeat;
    h2 {
        @include Bebas();
        font-weight: normal;
        font-size: 72px;
        color: #25365d;
        margin-bottom: 35px;
        margin-left: 20px;
    }
    p {
        @include Sans();
        color: #000;
        font-size: 16px;
        margin-bottom: 50px;
        margin-left: 20px;

    }
    ul {
        list-style-image: url(/img/checked.png);
        
        margin-bottom: 65px;
        li {
            line-height: 32px;
        }
    }
    .button-wrap {
        display: flex;
        justify-content: start;
        margin-left: 20px;
    
    .button {
        display: flex;
        width: 214px;
        height: 52px;
        justify-content: center;
        align-items: center;
        border: 2px solid #25365d;
        background-color: #25365d;
        border-radius: 28px;
       
        .text {
            @include Sans();
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
}

}

.section-2 {
    height: 600px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;

    .article-wrap {
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f7f9fb;
    
    }
    .article-block {
        display: flex;
        justify-content: center;
        .article {
            display: flex;
            margin: 35px;
            width: 340px;
            .photo {
                width: 57px;
                img {
                    display: inline-block;
                    margin-top: 8px;
                }
            }
            .text-block {
                margin-left: 30px;
            h3 {
                @include Sans();
                font-size: 22px;
                font-weight: normal;
                text-transform: uppercase;
                color: #25365d;
                text-align: left;
                margin-bottom: 20px;
                }
                p {
                    @include Sans();
                    font-size: 16px;
                    font-weight: normal;
                    color: #000000;
                    text-align: left;
                    line-height: 26px;
                    
                }
        }
        }
    }
}

.section-3 {
    margin-bottom: 180px;
    margin: 25pxauto;
    h2 {
        @include Bebas();
        font-size: 72px;
        font-weight: bold;
        color: #25365d;
        text-align: center;
        margin-bottom: 140px;
        letter-spacing: 3px;
    }
    .screen {
        position: relative;
        display: flex;
        h3 {
            @include Sans();
            font-size: 22px;
            font-weight: bold;
            color: #25365d;
            text-align: left;
            
        }
        p {
            @include Sans();
            font-weight: normal;
            font-size: 14px;
            color: #000000;
            line-height: 26px;
            text-align: left;
        }
        .left-screen {
           
            width: 50%;
            height: 475px;
            
            background: url(/img/Macbook\ 1.png) 533px 0 no-repeat; 
            .left-block-text {
                position: relative;
                display: flex;
                justify-content: flex-start;
                .text {
                    display: inline-flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: start;
                    margin-left: 367px;
                    z-index: 100;
                    .line {
                        padding-right: 40px;
                    }
                     .feature-1 {
                        margin-top: 41px;
                        margin-bottom: 111px;
                        //  hr {
                        //     margin: 8px 0px 12px;
                        //     background-color: #ff2868;
                        //     width: 160px;
                        //     height: 1px;
                        //  }
                         
                     }   
                     .feature-3 {
                        margin-bottom: 45px;
                        hr {
                            margin: 8px 0px 12px;
                            background-color: #ff2868;
                            width: 160px;
                            height: 1px;
                            
                        }
                     }
                }
                .red-arrows {
                    position: absolute;
                    left: 526px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    z-index: 10;
                    .picture-1 {
                       margin-top: 84px;                                             
                       
                    }
                    .picture-3 {
                       margin-top: 69px;
                     }
                    
                }
            }
            
        }
        .middle {
            position: absolute;
            left: 911px;
            top: 205px;
            z-index: 100;
           
        }

        .right-screen {
            width: 50%;
            height: 475px;
            background: url(/img/Macbook\ 2.png)0 0 no-repeat;
            .right-block-text {
                position: relative;
                display: flex;
                //justify-content: flex-end;
                flex-direction: row-reverse;
                .text {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-right: 370px;
                    z-index: 100;
                    h3,p{
                        text-align: right;
                    }
                    .line {
                            padding-left: 40px;
                        }
                     .feature-2 {
                        margin-top: 41px;
                        margin-bottom: 109px;
                        
                         hr {
                            margin: 8px 0px 12px;
                            background-color: #ff2868;
                            width: 160px;
                            height: 1px;
                            margin-left: auto;
                         }
                         
                     }   
                     .feature-4 {
                        margin-bottom: 45px;
                        // hr {
                        //     margin: 8px 0px 12px;
                        //     background-color: #ff2868;
                        //     width: 160px;
                        //     height: 1px;
                        //     size: 1px;
                        //     margin-left: auto;
                        // }
                        
                     }
                }
                .red-arrows {
                    position: absolute;
                    right: 528px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-between;
                    z-index: 10;
                    .picture-2 {
                       margin-top: 84px;                                             
                       
                    }
                    .picture-4 {
                       margin-top: 94px;
                     }
                    
                }
            }
        }
    }
}


.section-4 {
    background-color: #efeff0;
    padding: 120px 0;
    margin-bottom: 140px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //
        h2 {
            @include Bebas();
            font-size: 72px;
            font-weight: 500;
            color: #25365d;
            margin-bottom: 55px;
        }
        p {
            @include Sans();
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            line-height: 32px;
            color: #5a5a5a;
            margin-bottom: 70px;
        }
        .blocks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 1150px;
            margin-bottom: 70px;
            .block {
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 365px;
                h4 {
                    @include Sans();
                    font-size: 18px;
                    font-weight: normal;
                    color: #5a5a5a;
                }
                strong {
                    @include Sans();
                    font-size: 72px;
                    font-weight: bold;
                    color: #25365d;
                }
                span {
                    @include Sans();
                    font-style: 22px;
                    font-weight: normal;
                    color: #5a5a5a;
                }
                p {
                    @include Sans();
                    font-size: 18px;
                    font-weight: normal;
                    color: #5a5a5a;
                }
            }
        }
        .contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h3 {
              @include Sans();
              font-size: 22px;
              font-weight: normal;
              color: #25365d;
              text-transform: uppercase; 
              margin-top: 20px;
              margin-bottom: 30px; 
            }
            p {
                @include Sans();
                font-size: 16px;
                font-weight: normal;
                color: #5a5a5a;
                line-height: 32px;
                margin-bottom: 65px;

            }
            .data {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 535px;
                .email, .phone {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                }
                strong {
                    display: inline-block;
                    margin-left: 10px;
                    @include Sans();
                    font-size: 22px;
                    font-weight: bold;
                    color: #25365d;
                }
                img {display: inline-block;}
                
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    h2 {
        @include Bebas();
        font-size: 72px;
        font-weight: 500;
        color: #25365d;
        margin-bottom: 55px;
    }
    p {
        @include Sans();
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
        color: #5a5a5a;
        text-align: center;
        margin-bottom: 70px;
    }
    .button-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 520px;
    
    .button {
        display: flex;
        width: 214px;
        height: 52px;
        justify-content: center;
        align-items: center;
        border: 2px solid #25365d;
        background-color: #25365d;
        border-radius: 28px;
        .img {
            margin-right: 18px;
            margin-top: 5px;
        }
        .text {
            @include Sans();
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
}